* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(238, 236, 236);
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.smallFont {
  font-size: 0.9rem;
}

/* top */
nav {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-inline: 40px;
  padding-top: 15px;
}
.card__content {
  padding-top: 10px;
}

/* main */
.topContent,
.midContent,
.bottomContent,
.mainContent {
  padding-inline: 10%;
  flex-grow: 1;
  /* background-color: bisque; 
}
body * {
  /* padding-inline: 10%; */
}
.mainContent {
    display: flex;
    flex-direction: column;
}
.mainContent h1 {
  margin: 10px 10px 30px 10px;
}

/* main top */
.topContent {
  padding-top: 5%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.topContent__left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  width: 55%;
}
.topContent__left button {
  width: 55%;
  min-width: 160px;
  min-height: 1.8rem;
  background-color: rgb(49, 86, 99);
  color: rgb(0, 0, 0);
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(106, 106, 165);
  border-radius: 10px;
}
.topContent__profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
}

/* main mid */
.midContent {
  padding-block: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.lightblueBG {
  background-color: rgb(216, 231, 227);
  padding-bottom: 20px;
}
.midContent__topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  flex-wrap: wrap;
}
.midContent__topic a {
  font-weight: 700;
  color: rgb(17, 3, 106);
}
.midContent__cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.midContent__card {
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 218, 218);
  border-radius: 15px;
  border: 1px solid gray;
  padding: 15px;
  width: 45%;
  gap: 5px;
}
.datetime__category {
  width: 40%;
  min-width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* margin-inline: 20px; */
  margin-top: 7px;
}

/* main bottom */
.bottomContent {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 10px;
  padding-top: 20px;
}
.bottomContent__cardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}
.bottomContent__card {
  display: flex;
  /* gap: 30px; */
  /* padding-top: 5px; */
  /* flex-direction: column; */
}
/* .bottomContent__card__content {
    margin-left: 5px;
} */
.date {
  min-width: 3rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 48, 99);
  border-radius: 10px;
  color: aliceblue;
  font-weight: 600;
}

.bottomContent__card__img {
  min-width: 15rem;
  height: 10rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
}

.bottomContent__datetime__category {
  min-width: 15%;
  margin: 10px 0 0 4px;
  gap: 10px;
}

.bottomContent__card__detail {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  margin-left: 7px;
  padding-left: 10px;
}
/* footer */

.footer {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  justify-content: end;
  align-items: center;
  gap: 5px;
  border-top: 1px solid gray;
  margin-block: 5px;
  padding-block: 8px;
}
.footer__icon {
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  /* body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
  .datetime__category {
    width: 100%;
    padding-right: 30px;
  }
  .topContent {
    justify-content: center;
  }
  .topContent__left {
    min-width: 220px;
  }
  .midContent__cardContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .midContent__card {
    min-width: 250px;
    min-height: 170px;
    width: 100%;
  }
  .bottomContent__cardContainer {
    gap: 20px;
  }
  .bottomContent__card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
  }
  .bottomContent__card__last {
    border: none;
  }
}
